@inherits LayoutComponentBase

<PageTitle>BlazorTemplateProject</PageTitle>
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>


<MudLayout>
    @* <MudAppBar Elevation="1">
        <MudText Typo="Typo.h5" Class="ml-3">Your Application</MudText>
        <PageExamplesNavBar />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar> *@
    <HorizontalNavBar></HorizontalNavBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div> *@
